openapi: 3.1.0
info:
  title: MemContext API
  version: 1.1.0
  description: |
    REST API for persistent, evolving AI memory. Save, search, and manage
    memories with automatic deduplication, version chains, and hybrid retrieval.
servers:
  - url: https://api.memcontext.in
    description: Production
security:
  - ApiKeyAuth: []
tags:
  - name: Memories
    description: Save, search, list, update, and delete memories.
  - name: History
    description: Inspect how memories evolve over time.
  - name: Feedback
    description: Rate retrieval quality to improve future results.
  - name: Profiles
    description: Pre-aggregated user context from memory.
  - name: Workspaces
    description: Company/team containers for shared memory.
  - name: Context Vault
    description: Document ingestion and workspace RAG retrieval.
paths:
  /api/workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces
      operationId: listWorkspaces
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      responses:
        "200":
          description: Workspaces the signed-in user belongs to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkspacesResponse"
    post:
      tags: [Workspaces]
      summary: Create workspace
      operationId: createWorkspace
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Workspace created.
          content:
            application/json:
              schema:
                type: object
                required: [workspace]
                properties:
                  workspace:
                    $ref: "#/components/schemas/Workspace"
  /api/workspaces/{workspaceId}/invitations:
    post:
      tags: [Workspaces]
      summary: Invite workspace member
      operationId: inviteWorkspaceMember
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteWorkspaceMemberRequest"
      responses:
        "201":
          description: Invitation email sent. Membership is created only after the invited user accepts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteWorkspaceMemberResponse"
  /api/workspaces/{workspaceId}/team:
    get:
      tags: [Workspaces]
      summary: List workspace team
      operationId: listWorkspaceTeam
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Current members and pending invitations for a workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkspaceTeamResponse"
  /api/workspaces/{workspaceId}/members/{memberId}:
    patch:
      tags: [Workspaces]
      summary: Update workspace member role
      operationId: updateWorkspaceMemberRole
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: memberId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorkspaceMemberRequest"
      responses:
        "200":
          description: Member role updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateWorkspaceMemberResponse"
    delete:
      tags: [Workspaces]
      summary: Remove workspace member
      operationId: removeWorkspaceMember
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: memberId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Member removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
  /api/workspaces/{workspaceId}/invitations/{invitationId}:
    delete:
      tags: [Workspaces]
      summary: Revoke workspace invitation
      operationId: revokeWorkspaceInvitation
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: invitationId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Invitation revoked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
  /api/workspaces/invitations/accept:
    post:
      tags: [Workspaces]
      summary: Accept workspace invitation
      operationId: acceptWorkspaceInvitation
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Invitation accepted and workspace membership created.
  /api/company-brain/documents:
    get:
      tags: [Context Vault]
      summary: List context vault documents
      operationId: listCompanyBrainDocuments
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Uploaded document sources for a workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompanyBrainDocumentsResponse"
    post:
      tags: [Context Vault]
      summary: Ingest context vault document
      operationId: ingestCompanyBrainDocument
      description: |
        Adds workspace knowledge from extracted text, a public file URL, or a
        documentation/web URL.

        Use `content` when your app already has clean text or Markdown. Use
        `uri` with a file `sourceType` for public PDF, DOCX, Markdown, TXT, CSV,
        or image URLs. Use `sourceType: url` for documentation sites and web
        pages.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestCompanyBrainDocumentRequest"
      responses:
        "202":
          description: Document accepted and added to the workspace document list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestCompanyBrainDocumentResponse"
  /api/company-brain/documents/upload:
    post:
      tags: [Context Vault]
      summary: Upload and ingest context vault document
      operationId: uploadCompanyBrainDocument
      description: |
        Uploads a local file and adds it to Context Vault. Supports PDFs,
        Markdown, TXT, DOCX, CSV, and image files. OCR is available for formats
        that need text extraction.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [workspaceId, title, file]
              properties:
                workspaceId:
                  type: string
                  format: uuid
                title:
                  type: string
                file:
                  type: string
                  format: binary
                sourceType:
                  $ref: "#/components/schemas/DocumentSourceType"
                scope:
                  type: string
                project:
                  type: string
                content:
                  type: string
                  description: Optional extracted text override for binary files.
      responses:
        "202":
          description: File uploaded and added to the workspace document list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestCompanyBrainDocumentResponse"
  /api/company-brain/documents/{documentId}/cancel:
    post:
      tags: [Context Vault]
      summary: Cancel context vault document processing
      operationId: cancelCompanyBrainDocument
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document processing was cancelled when still pending, retrying, or processing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelCompanyBrainDocumentResponse"
  /api/company-brain/documents/{documentId}/memories:
    get:
      tags: [Context Vault]
      summary: List memories extracted from one context vault document
      operationId: listCompanyBrainDocumentMemories
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Extracted memories for this document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompanyBrainDocumentMemoriesResponse"
  /api/company-brain/documents/{documentId}:
    delete:
      tags: [Context Vault]
      summary: Delete context vault document
      operationId: deleteCompanyBrainDocument
      description: |
        Deletes the document and its citations. Extracted memories stop
        appearing only when this document is their only source; memories also
        supported by other documents are preserved.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCompanyBrainDocumentResponse"
  /api/company-brain/search:
    get:
      tags: [Context Vault]
      summary: Search context vault
      operationId: searchCompanyBrain
      description: |
        Returns ranked retrieval results for workspace knowledge. The endpoint
        does not synthesize a single final answer; callers should use returned
        chunks, extracted memories, and evidence as grounded context for their
        own answer-generation layer.

        The response keeps document passages and extracted memories separate.
        `documents` mode fills `chunks` and leaves `memories` empty. `memories`
        mode fills `memories` and leaves `chunks` empty. `hybrid` mode can fill
        both arrays without flattening them into one mixed list, so clients can
        pass source chunks as document context and extracted facts as a separate
        memory-context document.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: query
          required: true
          schema:
            type: string
            maxLength: 1000
        - in: query
          name: mode
          schema:
            type: string
            enum: [memories, documents, hybrid]
            default: hybrid
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Search one hard lane inside the workspace. Omit when using `scopes`.
        - in: query
          name: scopes
          schema:
            type: string
            maxLength: 1000
          description: Comma-separated scopes for multi-scope retrieval, for example `dev,billing`. Takes precedence over `scope`.
        - in: query
          name: project
          schema:
            type: string
            maxLength: 100
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 8
      responses:
        "200":
          description: Company brain search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCompanyBrainResponse"
  /api/company-brain/memories:
    get:
      tags: [Context Vault]
      summary: Browse context vault memories
      operationId: listCompanyBrainMemories
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
        - in: query
          name: project
          schema:
            type: string
            maxLength: 100
        - in: query
          name: projects
          schema:
            type: string
          description: Comma-separated project filter. Use `__memcontext_no_project__` for memories without a project.
        - in: query
          name: search
          schema:
            type: string
            maxLength: 200
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Paginated workspace memories.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompanyBrainMemoriesResponse"
  /api/company-brain/memories/{memoryId}/feedback:
    post:
      tags: [Context Vault]
      summary: Submit feedback on a context vault memory
      operationId: submitCompanyBrainMemoryFeedback
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: memoryId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyBrainMemoryFeedbackRequest"
      responses:
        "200":
          description: Feedback recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryFeedbackResponse"
  /api/company-brain/memories/{memoryId}/correction:
    post:
      tags: [Context Vault]
      summary: Correct a context vault memory
      operationId: correctCompanyBrainMemory
      description: |
        Applies a correction to an extracted workspace memory. When
        `correctedChunkContent` is provided, the cited source chunk is updated
        too so future document retrieval stays aligned with the corrected
        memory.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: memoryId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorrectCompanyBrainMemoryRequest"
      responses:
        "200":
          description: Memory corrected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CorrectCompanyBrainMemoryResponse"
  /api/company-brain/memories/{memoryId}/evidence:
    get:
      tags: [Context Vault]
      summary: List source evidence for a context vault memory
      operationId: listCompanyBrainMemoryEvidence
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: memoryId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Source chunks for this extracted memory.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompanyBrainMemoryEvidenceResponse"
  /api/company-brain/hierarchy:
    get:
      tags: [Context Vault]
      summary: Context vault scope/project hierarchy
      operationId: getCompanyBrainHierarchy
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Scope and project counts for workspace memories.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyBrainHierarchyResponse"
  /api/memories:
    post:
      tags: [Memories]
      summary: Save a memory
      operationId: saveMemory
      description: |
        Save a durable preference, fact, decision, or piece of context. If
        similar content already exists, MemContext may update, extend, or
        deduplicate it instead of creating a separate memory.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveMemoryRequest"
      responses:
        "201":
          description: Memory saved, updated, extended, or deduplicated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveMemoryResponse"
        "202":
          description: Memory accepted for asynchronous extraction into atomic memories.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveMemoryResponse"
        "403":
          description: Memory limit exceeded for the current plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Memories]
      summary: List memories
      operationId: listMemories
      description: |
        Paginated list of current (non-deleted) memories. Supports filtering
        by category, project, and text search. Categories and projects accept
        comma-separated values for multi-filter queries.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of memories to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Pagination offset.
        - in: query
          name: category
          schema:
            type: string
          description: "Comma-separated category filter. Values: `preference`, `fact`, `decision`, `context`."
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, results come only from that scope. Omit to list only unscoped/global memories.
        - in: query
          name: project
          schema:
            type: string
          description: "Comma-separated project filter within the selected scope. Use `__memcontext_no_project__` for memories without a project."
        - in: query
          name: search
          schema:
            type: string
            maxLength: 200
          description: Text search across memory content (case-insensitive substring match).
      responses:
        "200":
          description: Paginated memory list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMemoriesResponse"
  /api/memories/search:
    get:
      tags: [Memories]
      summary: Search memories
      operationId: searchMemories
      description: |
        Search saved memories with a natural-language query. Use filters such
        as scope, project, and category when your app needs narrower results.
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
            maxLength: 1000
          description: Natural language search query. Use full sentences for best results.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
          description: Maximum number of results to return.
        - in: query
          name: category
          schema:
            $ref: "#/components/schemas/MemoryCategory"
          description: Filter results to a single category.
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, search runs only inside that scope. Omit to search only unscoped/global memories.
        - in: query
          name: project
          schema:
            type: string
          description: Filter results to a specific project within the selected scope.
        - in: query
          name: threshold
          schema:
            type: number
            minimum: 0
            maximum: 1
          description: |
            Search strictness. Higher values return broader matches. Use `0.6`
            as the default unless you have tested a different value.
      responses:
        "200":
          description: Ranked search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMemoryResponse"
  /api/memories/profile:
    get:
      tags: [Profiles]
      summary: Get user profile context
      operationId: getMemoryProfile
      description: |
        Returns pre-aggregated user context split into static (stable preferences and facts)
        and dynamic (recent context from the last 14 days). Cached for performance.
      parameters:
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, profile context is built only from that scope. Omit to use only unscoped/global memories.
        - in: query
          name: project
          schema:
            type: string
          description: Scope the profile to a specific project within the selected scope.
      responses:
        "200":
          description: Profile context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryProfile"
  /api/memories/graph:
    get:
      tags: [Profiles]
      summary: Get memory graph data
      operationId: getMemoryGraph
      description: |
        Returns graph visualization data for the current memory container. The graph only
        includes memories inside the selected scope. Omit `scope` to visualize only unscoped/global memories.
      parameters:
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary for graph traversal.
      responses:
        "200":
          description: Memory graph data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryGraphResponse"
  /api/memories/{id}:
    get:
      tags: [Memories]
      summary: Get a memory by ID
      operationId: getMemory
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Full memory record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Memory"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      tags: [Memories]
      summary: Update a memory
      operationId: updateMemory
      description: |
        Update a memory's content, category, or project. If only metadata changes,
        a simple update is performed. If content changes, the system re-runs the
        classification flow against similar memories and may supersede or relate to them.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemoryRequest"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMemoryResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Memories]
      summary: Delete a memory
      operationId: deleteMemory
      description: Deletes a memory from future search and list results.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Memory deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/memories/{id}/history:
    get:
      tags: [History]
      summary: Get memory version history
      operationId: getMemoryHistory
      description: |
        Returns the current version of a memory and all previous versions in its
        version chain. Use this to inspect how a memory evolved over time.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Current version and version history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryHistoryResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/memories/{id}/forget:
    post:
      tags: [Memories]
      summary: Forget a memory
      operationId: forgetMemory
      description: |
        Removes a memory from future search and list results.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Memory forgotten.
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Memory forgotten
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/memories/{id}/feedback:
    post:
      tags: [Feedback]
      summary: Submit feedback for a memory
      operationId: submitFeedback
      description: |
        Record whether a retrieved memory was useful, irrelevant, outdated, or wrong.
        This signal can be used to improve retrieval quality over time.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemoryFeedbackRequest"
      responses:
        "200":
          description: Feedback recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryFeedbackResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key created from the MemContext dashboard. Keys are prefixed with `mc_`.
    CookieAuth:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Dashboard session cookie used for workspace/company endpoints.
  parameters:
    MemoryId:
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Memory UUID.
  schemas:
    MemoryCategory:
      type: string
      enum: [preference, fact, decision, context]
      description: |
        - `preference` - User likes or dislikes (e.g. "prefers dark mode").
        - `fact` - Objective information (e.g. "uses macOS").
        - `decision` - Choices made (e.g. "chose the new billing provider").
        - `context` - Background information (e.g. "working on e-commerce app").
    MemorySource:
      type: string
      enum: [mcp, web, api, openclaw]
      description: |
        Where the memory originated.
        - `mcp` - Saved via MCP tool.
        - `web` - Saved from the dashboard.
        - `api` - Saved via REST API (default).
        - `openclaw` - Saved via OpenClaw integration.
    Workspace:
      type: object
      required: [id, name, slug, role, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        createdAt:
          type: string
          format: date-time
    ListWorkspacesResponse:
      type: object
      required: [workspaces]
      properties:
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/Workspace"
    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
    InviteWorkspaceMemberRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
          default: member
    WorkspaceInvitation:
      type: object
      required: [id, workspaceId, email, role, expiresAt, createdAt]
      properties:
        id:
          type: string
          format: uuid
        workspaceId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    InviteWorkspaceMemberResponse:
      type: object
      required: [invitation]
      properties:
        invitation:
          $ref: "#/components/schemas/WorkspaceInvitation"
    WorkspaceMember:
      type: object
      required: [id, userId, role, createdAt, email]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        createdAt:
          type: string
          format: date-time
        name:
          type: string
          nullable: true
        email:
          type: string
          format: email
        image:
          type: string
          nullable: true
    ListWorkspaceTeamResponse:
      type: object
      required: [currentUserRole, members, invitations]
      properties:
        currentUserRole:
          type: string
          enum: [owner, admin, member, viewer]
        members:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceMember"
        invitations:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceInvitation"
    UpdateWorkspaceMemberRequest:
      type: object
      required: [role]
      properties:
        role:
          type: string
          enum: [admin, member, viewer]
    UpdateWorkspaceMemberResponse:
      type: object
      required: [member]
      properties:
        member:
          type: object
          required: [id, userId, role, createdAt]
          properties:
            id:
              type: string
              format: uuid
            userId:
              type: string
            role:
              type: string
              enum: [owner, admin, member, viewer]
            createdAt:
              type: string
              format: date-time
    DocumentSourceType:
      type: string
      enum:
        [pdf, markdown, text, docx, html, url, csv, png, jpg, jpeg, webp, tiff]
    IngestCompanyBrainDocumentRequest:
      type: object
      required: [workspaceId, title]
      properties:
        workspaceId:
          type: string
          format: uuid
        title:
          type: string
          maxLength: 200
        content:
          type: string
          maxLength: 250000
          description: Extracted text/Markdown for v1 JSON ingestion. Required unless `uri` is provided.
        sourceType:
          $ref: "#/components/schemas/DocumentSourceType"
        scope:
          type: string
          maxLength: 200
        project:
          type: string
          maxLength: 100
        mimeType:
          type: string
        originalFilename:
          type: string
        uri:
          type: string
          format: uri
          description: Public documentation/web URL or public file URL. Set `sourceType` for file URLs such as `pdf`, `docx`, `markdown`, `text`, `csv`, or an image type.
        crawlSubpages:
          type: boolean
          default: true
          description: Crawl linked subpages from a documentation/web URL. For docs sites with `llms.txt`, MemContext discovers canonical pages first and ingests only priority pages. Ignored for remote file URL ingestion.
        priorityPageLimit:
          type: integer
          minimum: 1
          maximum: 25
          default: 15
          description: Maximum priority pages to fetch from a discovered docs index such as `llms.txt`.
        subpageTarget:
          type: array
          maxItems: 8
          items:
            type: string
            maxLength: 100
          description: Terms to prioritize when crawling subpages.
        category:
          $ref: "#/components/schemas/MemoryCategory"
    CompanyBrainDocument:
      type: object
      required:
        [
          id,
          sourceType,
          status,
          chunkCount,
          extractedCount,
          totalChunks,
          processedChunks,
          createdAt,
        ]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        sourceType:
          type: string
        status:
          $ref: "#/components/schemas/CompanyBrainDocumentStatus"
        chunkCount:
          type: integer
        extractedCount:
          type: integer
        totalChunks:
          type: integer
        processedChunks:
          type: integer
        processingPhase:
          type: string
          nullable: true
        heartbeatAt:
          type: string
          format: date-time
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
          nullable: true
        publicUrl:
          type: string
          nullable: true
    CompanyBrainDocumentStatus:
      type: string
      enum: [pending, processing, retrying, completed, failed, cancelled]
    IngestCompanyBrainDocumentResponse:
      type: object
      required: [document, chunkCount, extractedCount, status, message]
      properties:
        document:
          $ref: "#/components/schemas/CompanyBrainDocument"
        chunkCount:
          type: integer
        extractedCount:
          type: integer
        status:
          type: string
          enum: [accepted]
        message:
          type: string
    CancelCompanyBrainDocumentResponse:
      type: object
      required: [cancelled, documentId]
      properties:
        cancelled:
          type: boolean
        documentId:
          type: string
          format: uuid
    DeleteCompanyBrainDocumentResponse:
      type: object
      required: [deleted, documentId, deletedMemoryCount, preservedMemoryCount]
      properties:
        deleted:
          type: boolean
        documentId:
          type: string
          format: uuid
        deletedMemoryCount:
          type: integer
        preservedMemoryCount:
          type: integer
    CompanyBrainMemory:
      type: object
      required: [id, content, createdAt]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        category:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        sourceId:
          type: string
          format: uuid
          nullable: true
        sourceTitle:
          type: string
          nullable: true
        sourceUrl:
          type: string
          nullable: true
    ListCompanyBrainMemoriesResponse:
      type: object
      required: [memories, total, hasMore]
      properties:
        memories:
          type: array
          items:
            $ref: "#/components/schemas/CompanyBrainMemory"
        total:
          type: integer
        hasMore:
          type: boolean
    ListCompanyBrainDocumentMemoriesResponse:
      type: object
      required: [document, memories, total]
      properties:
        document:
          type: object
          required: [id]
          properties:
            id:
              type: string
              format: uuid
            title:
              type: string
              nullable: true
            publicUrl:
              type: string
              nullable: true
        memories:
          type: array
          items:
            $ref: "#/components/schemas/CompanyBrainMemory"
        total:
          type: integer
    CompanyBrainMemoryFeedbackRequest:
      type: object
      required: [workspaceId, type]
      properties:
        workspaceId:
          type: string
          format: uuid
        type:
          type: string
          enum: [helpful, not_helpful, outdated, wrong]
        context:
          type: string
          maxLength: 1000
    CorrectCompanyBrainMemoryRequest:
      type: object
      required: [workspaceId, correctedContent]
      properties:
        workspaceId:
          type: string
          format: uuid
        type:
          type: string
          enum: [wrong, outdated, incomplete]
          default: wrong
        correctedContent:
          type: string
          maxLength: 10000
          description: Corrected extracted memory text.
        reason:
          type: string
          maxLength: 1000
          description: Reviewer note explaining why the correction is needed.
        correctedChunkContent:
          type: string
          maxLength: 20000
          description: Optional corrected source chunk text. Send this to keep document-chunk retrieval aligned with the corrected memory.
        evidenceChunkId:
          type: string
          format: uuid
          description: Optional evidence chunk to update. Omit to update all cited chunks when `correctedChunkContent` is supplied.
    CorrectCompanyBrainMemoryResponse:
      type: object
      required: [success, memory, updatedChunkCount]
      properties:
        success:
          type: boolean
        memory:
          $ref: "#/components/schemas/CompanyBrainMemory"
        updatedChunkCount:
          type: integer
          description: Number of source chunks updated by the correction.
    CompanyBrainMemoryEvidence:
      type: object
      required: [chunkId, sourceId, chunkIndex, content]
      properties:
        chunkId:
          type: string
          format: uuid
        sourceId:
          type: string
          format: uuid
        chunkIndex:
          type: integer
        sectionPath:
          type: string
          nullable: true
        pageNumber:
          type: integer
          nullable: true
        content:
          type: string
        title:
          type: string
          nullable: true
        quote:
          type: string
          nullable: true
        confidence:
          type: number
          nullable: true
    ListCompanyBrainMemoryEvidenceResponse:
      type: object
      required: [evidence]
      properties:
        evidence:
          type: array
          items:
            $ref: "#/components/schemas/CompanyBrainMemoryEvidence"
    CompanyBrainHierarchyResponse:
      type: object
      required: [global, scopes]
      properties:
        global:
          type: object
          required: [count, projects]
          properties:
            count:
              type: integer
            projects:
              type: array
              items:
                type: object
                required: [name, value, count]
                properties:
                  name:
                    type: string
                  value:
                    type: string
                  count:
                    type: integer
        scopes:
          type: array
          items:
            type: object
            required: [name, count, projects]
            properties:
              name:
                type: string
              count:
                type: integer
              projects:
                type: array
                items:
                  type: object
                  required: [name, value, count]
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                    count:
                      type: integer
    ListCompanyBrainDocumentsResponse:
      type: object
      required: [documents]
      properties:
        documents:
          type: array
          items:
            $ref: "#/components/schemas/CompanyBrainDocument"
    CompanyBrainSearchChunk:
      type: object
      required:
        [
          id,
          sourceId,
          title,
          sourceType,
          sectionPath,
          scope,
          project,
          chunkIndex,
          content,
          contextualContent,
          relevance,
          createdAt,
        ]
      properties:
        id:
          type: string
          format: uuid
        sourceId:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        sourceType:
          type: string
        sectionPath:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        chunkIndex:
          type: integer
        content:
          type: string
        contextualContent:
          type: string
        relevance:
          type: number
        createdAt:
          type: string
          format: date-time
    CompanyBrainSearchMemory:
      type: object
      required: [id, content, category, scope, project, createdAt, evidence]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        category:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        evidence:
          type: array
          items:
            type: object
            required:
              [
                sourceId,
                chunkId,
                quote,
                confidence,
                title,
                sectionPath,
                chunkIndex,
              ]
            properties:
              sourceId:
                type: string
                format: uuid
              chunkId:
                type: string
                format: uuid
              quote:
                type: string
                nullable: true
              confidence:
                type: number
                nullable: true
              title:
                type: string
                nullable: true
              sectionPath:
                type: string
                nullable: true
              chunkIndex:
                type: integer
    SearchCompanyBrainResponse:
      type: object
      required: [mode, found, chunks, memories]
      description: >-
        Ranked Context Vault retrieval results. `chunks` contains source
        document passages; `memories` contains extracted atomic facts with
        citation evidence. Hybrid mode returns these as separate arrays instead
        of a single merged list so callers can build two downstream context
        blocks: source documents and extracted memories. This response
        intentionally does not include a synthesized answer.
      properties:
        mode:
          type: string
          enum: [memories, documents, hybrid]
        found:
          type: integer
        chunks:
          type: array
          description: >-
            Source document chunks/passages. Empty when mode is `memories`.
          items:
            $ref: "#/components/schemas/CompanyBrainSearchChunk"
        memories:
          type: array
          description: >-
            Extracted atomic memories with source evidence. Empty when mode is
            `documents`.
          items:
            $ref: "#/components/schemas/CompanyBrainSearchMemory"
    Memory:
      type: object
      required: [id, userId, content, source, isCurrent, version, createdAt]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        content:
          type: string
        category:
          $ref: "#/components/schemas/MemoryCategory"
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        source:
          $ref: "#/components/schemas/MemorySource"
        isCurrent:
          type: boolean
          description: Whether this is the current version of this memory.
        supersedesId:
          type: string
          format: uuid
          nullable: true
          description: ID of the memory this version superseded.
        rootId:
          type: string
          format: uuid
          nullable: true
          description: ID of the original memory in the version chain.
        version:
          type: integer
          description: Version number in the chain (starts at 1).
        validFrom:
          type: string
          format: date-time
          nullable: true
        validUntil:
          type: string
          format: date-time
          nullable: true
          description: ISO 8601 datetime after which this memory is considered expired.
        createdAt:
          type: string
          format: date-time
    SaveMemoryRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          maxLength: 10000
          description: The memory content. Write as a clear, complete, searchable statement.
        category:
          $ref: "#/components/schemas/MemoryCategory"
        scope:
          type: string
          maxLength: 200
          description: Hard isolation boundary for the memory container. Use a stable user or tenant ID from your app.
        project:
          type: string
          maxLength: 100
          description: "Grouping filter inside the selected scope. Format: lowercase, no spaces (e.g. `memcontext`)."
        source:
          $ref: "#/components/schemas/MemorySource"
        validUntil:
          type: string
          format: date-time
          description: ISO 8601 datetime when this memory expires. Omit for permanent memories.
    SaveMemoryResponse:
      type: object
      required: [status]
      properties:
        id:
          type: string
          format: uuid
          description: ID of the saved or matched memory for synchronous results.
        jobId:
          type: string
          format: uuid
          description: Job/source ID for tracking accepted long-content extraction.
        status:
          type: string
          enum: [saved, updated, extended, duplicate, accepted]
          description: |
            - `saved` - New memory created.
            - `updated` - New memory superseded an existing one.
            - `extended` - New memory extends an existing one (relation created).
            - `duplicate` - Content already exists; no new memory created.
            - `accepted` - Large content was accepted for asynchronous extraction into atomic memories.
        superseded:
          type: string
          format: uuid
          description: ID of the memory that was superseded (when status is `updated`).
        existingId:
          type: string
          format: uuid
          description: ID of the existing duplicate (when status is `duplicate`).
        message:
          type: string
          description: Optional human-readable acknowledgement for asynchronous extraction.
        reservedSlots:
          type: integer
          minimum: 0
          description: Number of memory slots reserved while a long-content job is pending.
    SearchMemoryResult:
      type: object
      required: [id, content, relevance, createdAt]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        category:
          $ref: "#/components/schemas/MemoryCategory"
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        relevance:
          type: number
          minimum: 0
          maximum: 1
          description: Relevance score from 0 (least relevant) to 1 (most relevant).
        createdAt:
          type: string
          format: date-time
    SearchMemoryResponse:
      type: object
      required: [found, memories]
      properties:
        found:
          type: integer
          description: Number of results returned.
        memories:
          type: array
          items:
            $ref: "#/components/schemas/SearchMemoryResult"
    ListMemoryItem:
      type: object
      required: [id, content, source, createdAt]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        category:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        source:
          type: string
        version:
          type: integer
        validFrom:
          type: string
          format: date-time
          nullable: true
        validUntil:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
    ListMemoriesResponse:
      type: object
      required: [memories, total, hasMore]
      properties:
        memories:
          type: array
          items:
            $ref: "#/components/schemas/ListMemoryItem"
        total:
          type: integer
          description: Total number of memories matching the filters.
        hasMore:
          type: boolean
          description: Whether more results exist beyond the current page.
    UpdateMemoryRequest:
      type: object
      properties:
        content:
          type: string
          maxLength: 10000
          description: New content. If changed, triggers re-classification against similar memories.
        category:
          $ref: "#/components/schemas/MemoryCategory"
        project:
          type: string
          maxLength: 100
    UpdateMemoryResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        memory:
          type: object
          description: Returned when only metadata was updated.
          properties:
            id:
              type: string
            content:
              type: string
            category:
              type: string
              nullable: true
            scope:
              type: string
              nullable: true
            project:
              type: string
              nullable: true
        superseded:
          type: string
          format: uuid
          description: ID of superseded memory (when content update triggers supersession).
        relatedTo:
          type: string
          format: uuid
          description: ID of related memory (when content update creates an extend/similar relation).
        error:
          type: string
          description: Error message when `success` is `false`.
    SuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    MemoryFeedbackRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [helpful, not_helpful, outdated, wrong]
          description: |
            - `helpful` - The memory was useful in the current context.
            - `not_helpful` - The memory was irrelevant.
            - `outdated` - The memory contains stale information.
            - `wrong` - The memory contains incorrect information.
        context:
          type: string
          maxLength: 1000
          description: Optional explanation of why this feedback is being submitted.
    MemoryFeedbackResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    MemoryProfile:
      type: object
      required: [static, dynamic]
      properties:
        static:
          type: array
          items:
            type: string
          description: Stable preferences and facts.
        dynamic:
          type: array
          items:
            type: string
          description: Recent context from the last 14 days.
    MemoryHistoryResponse:
      type: object
      required: [current, history]
      properties:
        current:
          $ref: "#/components/schemas/Memory"
        history:
          type: array
          items:
            $ref: "#/components/schemas/Memory"
          description: Previous versions in the chain, ordered by version number.
    MemoryGraphNode:
      type: object
      required: [id, label, content, createdAt, degree]
      properties:
        id:
          type: string
        label:
          type: string
        content:
          type: string
        category:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        rootId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        degree:
          type: integer
    MemoryGraphLink:
      type: object
      required: [id, source, target, type, derived]
      properties:
        id:
          type: string
        source:
          type: string
        target:
          type: string
        type:
          type: string
        strength:
          type: number
          nullable: true
        derived:
          type: boolean
    MemoryGraphResponse:
      type: object
      required: [nodes, links, meta]
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/MemoryGraphNode"
        links:
          type: array
          items:
            $ref: "#/components/schemas/MemoryGraphLink"
        meta:
          type: object
          required: [totalNodes, totalLinks, relationLinks, derivedLinks]
          properties:
            totalNodes:
              type: integer
            totalLinks:
              type: integer
            relationLinks:
              type: integer
            derivedLinks:
              type: integer
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message.
        code:
          type: string
          description: "Machine-readable error code (e.g. `HTTP_404`, `INTERNAL_ERROR`)."
        requestId:
          type: string
          description: Unique request ID for tracing. Also returned in the `X-Request-Id` response header.
        errorId:
          type: string
          description: Unique error ID for support reference (format `ERR_XXXXXXXX`).
