openapi: 3.1.0
info:
  title: MemContext API
  version: 1.1.0
  description: |
    REST API for persistent, evolving AI memory. Save, search, and manage
    memories with automatic deduplication, version chains, and hybrid retrieval.
servers:
  - url: https://api.memcontext.in
    description: Production
security:
  - ApiKeyAuth: []
tags:
  - name: Memories
    description: Save, search, list, update, and delete memories.
  - name: History
    description: Inspect how memories evolve over time.
  - name: Feedback
    description: Rate retrieval quality to improve future results.
  - name: Profiles
    description: Pre-aggregated user context from memory.
  - name: Workspaces
    description: Company/team containers for shared memory.
  - name: Context Vault
    description: Document ingestion and workspace RAG retrieval.
paths:
  /api/workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces
      operationId: listWorkspaces
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      responses:
        "200":
          description: Workspaces the signed-in user belongs to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkspacesResponse"
    post:
      tags: [Workspaces]
      summary: Create workspace
      operationId: createWorkspace
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspaceRequest"
      responses:
        "201":
          description: Workspace created.
          content:
            application/json:
              schema:
                type: object
                required: [workspace]
                properties:
                  workspace:
                    $ref: "#/components/schemas/Workspace"
  /api/workspaces/{workspaceId}/invitations:
    post:
      tags: [Workspaces]
      summary: Invite workspace member
      operationId: inviteWorkspaceMember
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteWorkspaceMemberRequest"
      responses:
        "201":
          description: Invitation created. The token is returned for the caller to deliver.
  /api/workspaces/invitations/accept:
    post:
      tags: [Workspaces]
      summary: Accept workspace invitation
      operationId: acceptWorkspaceInvitation
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Invitation accepted and workspace membership created.
  /api/company-brain/documents:
    get:
      tags: [Context Vault]
      summary: List context vault documents
      operationId: listCompanyBrainDocuments
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Uploaded document sources for a workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompanyBrainDocumentsResponse"
    post:
      tags: [Context Vault]
      summary: Ingest context vault document
      operationId: ingestCompanyBrainDocument
      description: |
        Queues document text, a public remote file URL, or a public
        documentation/web URL for workspace processing.

        When `content` is provided, MemContext queues that extracted text
        directly. When `uri` points to a file and `sourceType` is a file type
        such as `pdf`, `docx`, `markdown`, `text`, `csv`, or an image type,
        MemContext downloads the file, stores a copy in Cloudflare R2, and
        processes the stored file. When `sourceType` is `url` or the URL does
        not look like a file URL, MemContext uses Exa Contents to scrape/crawl
        clean Markdown.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestCompanyBrainDocumentRequest"
      responses:
        "202":
          description: Document accepted for background processing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestCompanyBrainDocumentResponse"
  /api/company-brain/documents/upload:
    post:
      tags: [Context Vault]
      summary: Upload and ingest context vault document
      operationId: uploadCompanyBrainDocument
      description: |
        Uploads the original file to Cloudflare R2, stores the object key/public
        URL on the document source, then queues background processing. Text-like
        files are decoded before enqueueing; PDFs, DOCX files, and images use
        Mistral OCR from the R2 public URL during processing.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [workspaceId, title, file]
              properties:
                workspaceId:
                  type: string
                  format: uuid
                title:
                  type: string
                file:
                  type: string
                  format: binary
                sourceType:
                  $ref: "#/components/schemas/DocumentSourceType"
                scope:
                  type: string
                project:
                  type: string
                content:
                  type: string
                  description: Optional extracted text override for binary files.
      responses:
        "202":
          description: File uploaded and document accepted for background processing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngestCompanyBrainDocumentResponse"
  /api/company-brain/documents/{documentId}/cancel:
    post:
      tags: [Context Vault]
      summary: Cancel context vault document processing
      operationId: cancelCompanyBrainDocument
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document processing was cancelled when still pending, retrying, or processing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelCompanyBrainDocumentResponse"
  /api/company-brain/documents/{documentId}:
    delete:
      tags: [Context Vault]
      summary: Delete context vault document
      operationId: deleteCompanyBrainDocument
      description: |
        Deletes the document source, chunks, and citations. Extracted document
        memories are soft-deleted only when this document is their only source;
        memories also supported by other documents are preserved.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: path
          name: documentId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document removed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteCompanyBrainDocumentResponse"
  /api/company-brain/search:
    get:
      tags: [Context Vault]
      summary: Search context vault
      operationId: searchCompanyBrain
      description: |
        Returns ranked retrieval results for workspace knowledge. The endpoint
        does not synthesize a single final answer; callers should use returned
        chunks, extracted memories, and evidence as grounded context for their
        own answer-generation layer. Document candidates are reranked after
        hybrid/vector/full-text retrieval.
      security:
        - ApiKeyAuth: []
        - CookieAuth: []
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: query
          required: true
          schema:
            type: string
            maxLength: 1000
        - in: query
          name: mode
          schema:
            type: string
            enum: [memories, documents, hybrid]
            default: hybrid
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
        - in: query
          name: project
          schema:
            type: string
            maxLength: 100
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 8
      responses:
        "200":
          description: Company brain search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchCompanyBrainResponse"
  /api/memories:
    post:
      tags: [Memories]
      summary: Save a memory
      operationId: saveMemory
      description: |
        Persist a memory. MemContext automatically expands content for searchability,
        generates embeddings, checks for duplicates, and classifies relationships
        with existing memories. If similar content exists, it may update, extend,
        or deduplicate instead of creating a new record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveMemoryRequest"
      responses:
        "201":
          description: Memory saved, updated, extended, or deduplicated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveMemoryResponse"
        "202":
          description: Memory accepted for background extraction into atomic memories.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SaveMemoryResponse"
        "403":
          description: Memory limit exceeded for the current plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags: [Memories]
      summary: List memories
      operationId: listMemories
      description: |
        Paginated list of current (non-deleted) memories. Supports filtering
        by category, project, and text search. Categories and projects accept
        comma-separated values for multi-filter queries.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of memories to return.
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Pagination offset.
        - in: query
          name: category
          schema:
            type: string
          description: "Comma-separated category filter. Values: `preference`, `fact`, `decision`, `context`."
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, results come only from that scope. Omit to list only unscoped/global memories.
        - in: query
          name: project
          schema:
            type: string
          description: "Comma-separated project filter within the selected scope. Use `__memcontext_no_project__` for memories without a project."
        - in: query
          name: search
          schema:
            type: string
            maxLength: 200
          description: Text search across memory content (case-insensitive substring match).
      responses:
        "200":
          description: Paginated memory list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMemoriesResponse"
  /api/memories/search:
    get:
      tags: [Memories]
      summary: Search memories
      operationId: searchMemories
      description: |
        Hybrid search combining vector similarity and PostgreSQL full-text search,
        merged with Reciprocal Rank Fusion (RRF). Query variants are generated
        automatically to improve recall.
      parameters:
        - in: query
          name: query
          required: true
          schema:
            type: string
            maxLength: 1000
          description: Natural language search query. Use full sentences for best results.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
          description: Maximum number of results to return.
        - in: query
          name: category
          schema:
            $ref: "#/components/schemas/MemoryCategory"
          description: Filter results to a single category.
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, search runs only inside that scope. Omit to search only unscoped/global memories.
        - in: query
          name: project
          schema:
            type: string
          description: Filter results to a specific project within the selected scope.
        - in: query
          name: threshold
          schema:
            type: number
            minimum: 0
            maximum: 1
          description: |
            Maximum vector distance. Higher values return more results (broader search).
            Use `0.2`-`0.4` for strict matching, `0.6` as default, `0.7`-`0.8` for broad recall.
      responses:
        "200":
          description: Ranked search results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMemoryResponse"
  /api/memories/profile:
    get:
      tags: [Profiles]
      summary: Get user profile context
      operationId: getMemoryProfile
      description: |
        Returns pre-aggregated user context split into static (stable preferences and facts)
        and dynamic (recent context from the last 14 days). Cached for performance.
      parameters:
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, profile context is built only from that scope. Omit to use only unscoped/global memories.
        - in: query
          name: project
          schema:
            type: string
          description: Scope the profile to a specific project within the selected scope.
      responses:
        "200":
          description: Profile context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryProfile"
  /api/memories/graph:
    get:
      tags: [Profiles]
      summary: Get memory graph data
      operationId: getMemoryGraph
      description: |
        Returns graph visualization data for the current memory container. The graph only
        includes memories inside the selected scope. Omit `scope` to visualize only unscoped/global memories.
      parameters:
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary for graph traversal.
      responses:
        "200":
          description: Memory graph data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryGraphResponse"
  /api/memories/{id}:
    get:
      tags: [Memories]
      summary: Get a memory by ID
      operationId: getMemory
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Full memory record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Memory"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      tags: [Memories]
      summary: Update a memory
      operationId: updateMemory
      description: |
        Update a memory's content, category, or project. If only metadata changes,
        a simple update is performed. If content changes, the system re-runs the
        classification flow against similar memories and may supersede or relate to them.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemoryRequest"
      responses:
        "200":
          description: Update result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateMemoryResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [Memories]
      summary: Delete a memory (soft delete)
      operationId: deleteMemory
      description: Soft-deletes a memory by setting `deletedAt`. Deleted memories are excluded from search and list results but remain in the database.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Memory deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/memories/{id}/history:
    get:
      tags: [History]
      summary: Get memory version history
      operationId: getMemoryHistory
      description: |
        Returns the current version of a memory and all previous versions in its
        version chain. Use this to inspect how a memory evolved over time.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Current version and version history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryHistoryResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/memories/{id}/forget:
    post:
      tags: [Memories]
      summary: Forget a memory (soft delete)
      operationId: forgetMemory
      description: |
        Soft-deletes a memory by setting `deletedAt`. The memory is excluded from
        search and list results but preserved in the database for audit purposes.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      responses:
        "200":
          description: Memory forgotten.
          content:
            application/json:
              schema:
                type: object
                required: [success, message]
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Memory forgotten
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/memories/{id}/feedback:
    post:
      tags: [Feedback]
      summary: Submit feedback for a memory
      operationId: submitFeedback
      description: |
        Record whether a retrieved memory was useful, irrelevant, outdated, or wrong.
        This signal can be used to improve retrieval quality over time.
      parameters:
        - $ref: "#/components/parameters/MemoryId"
        - in: query
          name: scope
          schema:
            type: string
            maxLength: 200
          description: Hard isolation boundary. When provided, the memory must belong to this scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemoryFeedbackRequest"
      responses:
        "200":
          description: Feedback recorded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryFeedbackResponse"
        "404":
          description: Memory not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key created from the MemContext dashboard. Keys are prefixed with `mc_`.
    CookieAuth:
      type: apiKey
      in: cookie
      name: better-auth.session_token
      description: Dashboard session cookie used for workspace/company endpoints.
  parameters:
    MemoryId:
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
      description: Memory UUID.
  schemas:
    MemoryCategory:
      type: string
      enum: [preference, fact, decision, context]
      description: |
        - `preference` - User likes or dislikes (e.g. "prefers dark mode").
        - `fact` - Objective information (e.g. "uses macOS").
        - `decision` - Choices made (e.g. "chose PostgreSQL for DB").
        - `context` - Background information (e.g. "working on e-commerce app").
    MemorySource:
      type: string
      enum: [mcp, web, api, openclaw]
      description: |
        Where the memory originated.
        - `mcp` - Saved via MCP tool.
        - `web` - Saved from the dashboard.
        - `api` - Saved via REST API (default).
        - `openclaw` - Saved via OpenClaw integration.
    Workspace:
      type: object
      required: [id, name, slug, role, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        role:
          type: string
          enum: [owner, admin, member, viewer]
        createdAt:
          type: string
          format: date-time
    ListWorkspacesResponse:
      type: object
      required: [workspaces]
      properties:
        workspaces:
          type: array
          items:
            $ref: "#/components/schemas/Workspace"
    CreateWorkspaceRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
    InviteWorkspaceMemberRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, member, viewer]
          default: member
    DocumentSourceType:
      type: string
      enum:
        [pdf, markdown, text, docx, html, url, csv, png, jpg, jpeg, webp, tiff]
    IngestCompanyBrainDocumentRequest:
      type: object
      required: [workspaceId, title]
      properties:
        workspaceId:
          type: string
          format: uuid
        title:
          type: string
          maxLength: 200
        content:
          type: string
          maxLength: 250000
          description: Extracted text/Markdown for v1 JSON ingestion. Required unless `uri` is provided.
        sourceType:
          $ref: "#/components/schemas/DocumentSourceType"
        scope:
          type: string
          maxLength: 200
        project:
          type: string
          maxLength: 100
        mimeType:
          type: string
        originalFilename:
          type: string
        uri:
          type: string
          format: uri
          description: Public documentation/web URL or public file URL. File URLs are fetched and copied to R2 when `sourceType` is a file type such as `pdf`, `docx`, `markdown`, `text`, `csv`, or an image type.
        crawlSubpages:
          type: boolean
          default: true
          description: Crawl linked subpages from a documentation/web URL through Exa. Ignored for remote file URL ingestion.
        subpageTarget:
          type: array
          maxItems: 8
          items:
            type: string
            maxLength: 100
          description: Terms Exa should prioritize when crawling subpages.
        category:
          $ref: "#/components/schemas/MemoryCategory"
    CompanyBrainDocument:
      type: object
      required: [id, sourceType, status, chunkCount, extractedCount, createdAt]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          nullable: true
        sourceType:
          type: string
        status:
          $ref: "#/components/schemas/CompanyBrainDocumentStatus"
        chunkCount:
          type: integer
        extractedCount:
          type: integer
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
          nullable: true
        publicUrl:
          type: string
          nullable: true
    CompanyBrainDocumentStatus:
      type: string
      enum: [pending, processing, retrying, completed, failed, cancelled]
    IngestCompanyBrainDocumentResponse:
      type: object
      required: [document, chunkCount, extractedCount, status, message]
      properties:
        document:
          $ref: "#/components/schemas/CompanyBrainDocument"
        chunkCount:
          type: integer
        extractedCount:
          type: integer
        status:
          type: string
          enum: [accepted]
        message:
          type: string
    CancelCompanyBrainDocumentResponse:
      type: object
      required: [cancelled, documentId]
      properties:
        cancelled:
          type: boolean
        documentId:
          type: string
          format: uuid
    DeleteCompanyBrainDocumentResponse:
      type: object
      required: [deleted, documentId, deletedMemoryCount, preservedMemoryCount]
      properties:
        deleted:
          type: boolean
        documentId:
          type: string
          format: uuid
        deletedMemoryCount:
          type: integer
        preservedMemoryCount:
          type: integer
    ListCompanyBrainDocumentsResponse:
      type: object
      required: [documents]
      properties:
        documents:
          type: array
          items:
            $ref: "#/components/schemas/CompanyBrainDocument"
    SearchCompanyBrainResponse:
      type: object
      required: [mode, found, chunks, memories]
      description: Ranked Context Vault retrieval results. `chunks` contains
        source document passages; `memories` contains extracted atomic facts
        with citation evidence. This response intentionally does not include a
        synthesized answer.
      properties:
        mode:
          type: string
          enum: [memories, documents, hybrid]
        found:
          type: integer
        chunks:
          type: array
          items:
            type: object
        memories:
          type: array
          items:
            type: object
    Memory:
      type: object
      required: [id, userId, content, source, isCurrent, version, createdAt]
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        content:
          type: string
        category:
          $ref: "#/components/schemas/MemoryCategory"
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        source:
          $ref: "#/components/schemas/MemorySource"
        isCurrent:
          type: boolean
          description: Whether this is the current version of this memory.
        supersedesId:
          type: string
          format: uuid
          nullable: true
          description: ID of the memory this version superseded.
        rootId:
          type: string
          format: uuid
          nullable: true
          description: ID of the original memory in the version chain.
        version:
          type: integer
          description: Version number in the chain (starts at 1).
        validFrom:
          type: string
          format: date-time
          nullable: true
        validUntil:
          type: string
          format: date-time
          nullable: true
          description: ISO 8601 datetime after which this memory is considered expired.
        deletedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
    SaveMemoryRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          maxLength: 10000
          description: The memory content. Write as a clear, complete, searchable statement.
        category:
          $ref: "#/components/schemas/MemoryCategory"
        scope:
          type: string
          maxLength: 200
          description: Hard isolation boundary for the memory container. Use a stable user or tenant ID from your app.
        project:
          type: string
          maxLength: 100
          description: "Grouping filter inside the selected scope. Format: lowercase, no spaces (e.g. `memcontext`)."
        source:
          $ref: "#/components/schemas/MemorySource"
        validUntil:
          type: string
          format: date-time
          description: ISO 8601 datetime when this memory expires. Omit for permanent memories.
    SaveMemoryResponse:
      type: object
      required: [status]
      properties:
        id:
          type: string
          format: uuid
          description: ID of the saved or matched memory for synchronous results.
        jobId:
          type: string
          format: uuid
          description: Background job/source ID for accepted long-content processing.
        status:
          type: string
          enum: [saved, updated, extended, duplicate, accepted]
          description: |
            - `saved` - New memory created.
            - `updated` - New memory superseded an existing one.
            - `extended` - New memory extends an existing one (relation created).
            - `duplicate` - Content already exists; no new memory created.
            - `accepted` - Large content was accepted for background extraction into atomic memories.
        superseded:
          type: string
          format: uuid
          description: ID of the memory that was superseded (when status is `updated`).
        existingId:
          type: string
          format: uuid
          description: ID of the existing duplicate (when status is `duplicate`).
        message:
          type: string
          description: Optional human-readable acknowledgement for async processing.
        reservedSlots:
          type: integer
          minimum: 0
          description: Number of memory slots reserved while a long-content job is pending.
    SearchMemoryResult:
      type: object
      required: [id, content, relevance, createdAt]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        category:
          $ref: "#/components/schemas/MemoryCategory"
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        relevance:
          type: number
          minimum: 0
          maximum: 1
          description: Relevance score from 0 (least relevant) to 1 (most relevant).
        createdAt:
          type: string
          format: date-time
    SearchMemoryResponse:
      type: object
      required: [found, memories]
      properties:
        found:
          type: integer
          description: Number of results returned.
        memories:
          type: array
          items:
            $ref: "#/components/schemas/SearchMemoryResult"
    ListMemoryItem:
      type: object
      required: [id, content, source, createdAt]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        category:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        source:
          type: string
        version:
          type: integer
        validFrom:
          type: string
          format: date-time
          nullable: true
        validUntil:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
    ListMemoriesResponse:
      type: object
      required: [memories, total, hasMore]
      properties:
        memories:
          type: array
          items:
            $ref: "#/components/schemas/ListMemoryItem"
        total:
          type: integer
          description: Total number of memories matching the filters.
        hasMore:
          type: boolean
          description: Whether more results exist beyond the current page.
    UpdateMemoryRequest:
      type: object
      properties:
        content:
          type: string
          maxLength: 10000
          description: New content. If changed, triggers re-classification against similar memories.
        category:
          $ref: "#/components/schemas/MemoryCategory"
        project:
          type: string
          maxLength: 100
    UpdateMemoryResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
        memory:
          type: object
          description: Returned when only metadata was updated.
          properties:
            id:
              type: string
            content:
              type: string
            category:
              type: string
              nullable: true
            scope:
              type: string
              nullable: true
            project:
              type: string
              nullable: true
        superseded:
          type: string
          format: uuid
          description: ID of superseded memory (when content update triggers supersession).
        relatedTo:
          type: string
          format: uuid
          description: ID of related memory (when content update creates an extend/similar relation).
        error:
          type: string
          description: Error message when `success` is `false`.
    SuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    MemoryFeedbackRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [helpful, not_helpful, outdated, wrong]
          description: |
            - `helpful` - The memory was useful in the current context.
            - `not_helpful` - The memory was irrelevant.
            - `outdated` - The memory contains stale information.
            - `wrong` - The memory contains incorrect information.
        context:
          type: string
          maxLength: 1000
          description: Optional explanation of why this feedback is being submitted.
    MemoryFeedbackResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
    MemoryProfile:
      type: object
      required: [static, dynamic]
      properties:
        static:
          type: array
          items:
            type: string
          description: Stable preferences and facts.
        dynamic:
          type: array
          items:
            type: string
          description: Recent context from the last 14 days.
    MemoryHistoryResponse:
      type: object
      required: [current, history]
      properties:
        current:
          $ref: "#/components/schemas/Memory"
        history:
          type: array
          items:
            $ref: "#/components/schemas/Memory"
          description: Previous versions in the chain, ordered by version number.
    MemoryGraphNode:
      type: object
      required: [id, label, content, createdAt, degree]
      properties:
        id:
          type: string
        label:
          type: string
        content:
          type: string
        category:
          type: string
          nullable: true
        scope:
          type: string
          nullable: true
        project:
          type: string
          nullable: true
        rootId:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        degree:
          type: integer
    MemoryGraphLink:
      type: object
      required: [id, source, target, type, derived]
      properties:
        id:
          type: string
        source:
          type: string
        target:
          type: string
        type:
          type: string
        strength:
          type: number
          nullable: true
        derived:
          type: boolean
    MemoryGraphResponse:
      type: object
      required: [nodes, links, meta]
      properties:
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/MemoryGraphNode"
        links:
          type: array
          items:
            $ref: "#/components/schemas/MemoryGraphLink"
        meta:
          type: object
          required: [totalNodes, totalLinks, relationLinks, derivedLinks]
          properties:
            totalNodes:
              type: integer
            totalLinks:
              type: integer
            relationLinks:
              type: integer
            derivedLinks:
              type: integer
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message.
        code:
          type: string
          description: "Machine-readable error code (e.g. `HTTP_404`, `INTERNAL_ERROR`)."
        requestId:
          type: string
          description: Unique request ID for tracing. Also returned in the `X-Request-Id` response header.
        errorId:
          type: string
          description: Unique error ID for support reference (format `ERR_XXXXXXXX`).
